@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e5ecf0;
    font-family: 'Montserrat', sans-serif;
}

main {
    max-width: 800px;
    height: auto;
    margin: auto;
}

div.inner-main {
    width: 85%;
    height: auto;
    display: grid;
    margin: 20px auto;
    padding: 20px 0;
    grid-template-columns: auto;
    grid-template-rows: 40vh auto;
    grid-template-areas:
        "x"
        "y";
}

header.main-content1 {
    grid-area: x;
    background-color: #26AEFF;
    box-shadow: 4px 4px 5px rgba(157, 157, 157, 0.5), -4px -4px 5px rgba(157, 157, 157, 0.5);
}

div.logo {
    width: 300px;
    height: 60px;
    margin: 10px auto;
    background-image: url(Assests/HNGlogo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

p.hng {
    font-size: 1.1rem;
    color: #fff;
    margin: 0 10px;
}

p.leader {
    text-align: center;
    margin: 35px 0 15px;
    color: #fff;
    font-size: 1.7rem;
}

p.top {
    text-align: center;
    font-size: .9rem;
    color: #fff;
}

.fa-share-square {
    color: #000;
    font-size: 1.5rem;
}

article.main-content2 {
    grid-area: y;
    height: 100%;
    background-color: #f0f2f3;
    border-radius: 0 0 10px 10px;
    box-shadow: 4px 4px 10px rgba(157, 157, 157, 0.5), -5px -5px 10px rgba(157, 157, 157, 0.5);
}

div.inner-main-content2 {
    width: 85%;
    height: auto;
    margin: -2rem auto 3rem;
    background-color: #f0f2f3;
}

div.info-header {
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 1.1rem;
    font-weight: bolder;
}
.fa-award {
    padding-left: 20px;
}
div.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: .9rem;
}

div.info:nth-child(odd) {
    background-color: rgb(168, 168, 168, .5);
}

div.socials {
    margin: 20px auto;
    text-align: center;
    font-size: .8rem;
    color: #fff;
}

.fab {
    padding: 15px 5px;
    font-size: 1.2rem;
}
a i.fab {
    color: #fff;
}
div.footer {
    width: 100%;
    height: auto;
    border: .5px solid #8d8b8b;
    background-color: #8d8b8b;
}